<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
       <!-- https server is supported 'xml' only nugetforunity:2020/04/30 -->
       <add key="NuGet" value="https://www.nuget.org/api/v2/" />
       <add key="aria.unitypackages" value="https://pkgs.dev.azure.com/aria-inc/abc61874-354f-417d-aaad-eafdce57c898/_packaging/aec9a088-341d-4188-bbd3-304350161103/nuget/v2/" />
       <add key="local" value="../Packages/Nupkg" />
       <!-- add key="myget" value="https://www.myget.org/F/tkaria/api/v2" / -->
    </packageSources>
    <disabledPackageSources />
    <activePackageSource>
       <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <config>
       <add key="repositoryPath" value="./Packages" />
       <add key="DefaultPushSource" value="http://www.nuget.org/api/v2/" />
    </config>
</configuration>